@font-face {
    font-family: "IBM Plex Sans Condensed";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/ibm-plex-sans-condensed-regular.woff2") format("woff2");
    font-display: swap
}

@font-face {
    font-family: "IBM Plex Sans Condensed";
    font-style: italic;
    font-weight: 400;
    src: url("/fonts/ibm-plex-sans-condensed-italic.woff2") format("woff2");
    font-display: swap
}

@font-face {
    font-family: "IBM Plex Sans Condensed";
    font-style: bold;
    font-weight: 500;
    src: url("/fonts/ibm-plex-sans-condensed-medium.woff2") format("woff2");
    font-display: swap
}

@font-face {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/roboto-slab-regular.woff2") format("woff2");
    font-display: swap
}

@font-face {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 600;
    src: url("/fonts/roboto-slab-semibold.woff2") format("woff2");
    font-display: swap
}

@font-face {
    font-family: "Berkeley Mono";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/berkeley-mono-regular.woff2") format("woff2");
    font-display: swap
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0
}

html, body {
    height: 100%
}

body {
    font-family: "IBM Plex Sans Condensed", sans-serif;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #0a0a0a;
    color: #efefef;
}

h1 {
    font-size: 1.8rem;
    color: #78b0d3;
}

h2 {
    font-size: 1.4rem;
    color: #97ef9f;
}

h3 {
    font-size: 1.15rem;
    color: #f9c686;
}

h4 {
    font-size: 1.1rem;
    color: #aa89d6;
}

h5 {
    color: #d14051;
}

h6 {
    color: #fcfa6c;
}

img, svg, video, canvas, audio, iframe, embed, object {
    display: block;
    max-width: 100%
}

h1, h2, h3, h4 {
    margin-bottom: .5rem;
    font-family: "Roboto Slab", serif;
    font-weight: 600
}

h1:not(:first-child), h2:not(:first-child), h3:not(:first-child), h4:not(:first-child) {
    margin-top: .75rem
}

p {
    text-align: justify
}

a {
    color: #78b0d3;
}

a:visited {
    color: #db538e;
}

a.clean-link {
    color: #78b0d3;
    text-decoration: none
}

a.clean-link:hover {
    text-decoration: underline
}

a.icon-link {
    text-decoration: none
}

a.icon-link:not(:first-child) {
    margin-left: .5rem
}

a.icon-link > svg {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    vertical-align: text-bottom;
    stroke: none;
    fill: #efefef;
}

ul, ol {
    list-style-type: none
}

code {
    font-family: "Berkeley Mono", monospace;
    color: #efefef;
}

pre {
    overflow-x: auto;
    padding: 8px 12px;
    color: #f1f2f4;
    background-color: #0c0d0e;
    border: 1px solid #a9adb1;
    font-family: "Berkeley Mono", monospace;
    line-height: 1.25
}

pre > code {
    border: 0;
    color: inherit;
    background-color: inherit
}

pre > code.center {
    margin-left: auto;
    margin-right: auto
}

p:not(:last-child), pre:not(:last-child), ul:not(:last-child), ol:not(:last-child), div.highlight:not(:last-child) {
    margin-bottom: 1rem
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

table thead tr th {
    padding: .5em 0;
    border-bottom: 1px solid #a9adb1;
    font-weight: 600
}

table tbody tr td {
    padding: .5em 0
}

table th:not(:first-child), table td:not(:first-child) {
    padding-left: .5em
}

table th:not(:last-child), table td:not(:last-child) {
    padding-right: .5em
}

table:not(:last-child) {
    margin-bottom: 1em
}

.index-title {
    font-size: 1.25rem
}

.index-year {
    font-size: 1.1rem
}

.article-metadata {
    display: flex;
    justify-content: space-between
}

.article-content {
    margin-top: 2rem
}

.article-content ul, .article-content ol {
    list-style-position: inside;
    list-style-type: "– "
}

.article-content ul > li:not(:first-of-type), .article-content ol > li:not(:first-of-type) {
    margin-top: .25rem
}

.article-content ul > li > ul, .article-content ol > li > ul {
    margin-left: 1rem
}

#article-footer {
    margin-top: 3rem;
    font-size: 1.15rem;
    font-weight: 600
}

#article-footer p {
    text-align: center
}

#article-footer .sh-text {
    margin-bottom: .5rem
}

#article-footer .sh-icons svg {
    width: 2rem;
    height: 2rem
}

time {
    color: #aeaeae;
}

.side-image-block {
    display: flex;
    justify-content: space-between;
    gap: 1rem
}

@media(max-width: 900px) {
    .side-image-block {
        flex-wrap: wrap
    }
}

@media(max-width: 900px) {
    .side-image-block img {
        margin-left: auto;
        margin-right: auto
    }
}
